<div class="w3-container">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
  <div class="w3-bar w3-blue w3-border w3-card-4">
    <a  routerLink="/" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a  routerLink="/part1/comp1" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green" [routerLinkActiveOptions]="{exact:true}">part1-comp1</a>
    <a  routerLink="/part2/comp1" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green" [routerLinkActiveOptions]="{exact:true}">part2-comp1</a>
</div>

<router-outlet></router-outlet>

</div>

